language: php

php:
  - 5.6
  - 7.0
  - 7.1

sudo: false

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-lowest

before_script:
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpunit --verbose --coverage-clover build/logs/clover.xml
  - ./vendor/bin/phpcs src tests --standard=psr2 -sp

after_success:
  - php vendor/bin/coveralls
